* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #646363;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-size: 1.5rem;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.header nav ul li {
  cursor: pointer;
  color: darkgray;
  transition: color 0.3s;
}

.header nav ul li:hover {
  color: whitesmoke;
}

.header nav ul .SettingsList {
  gap: 5px;
  border-left: 2px solid darkgray;
  margin-left: 2rem;
  padding-left: 2rem;
}

.content {
  display: flex;
  flex: 1;
}


.main-content {
  flex: 1;
  padding: 20px;
}

.main-content h2 {
  margin-bottom: 20px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.game-item {
  background-color: #333;
  padding: 15px;
  flex: 1 0 150px; /* Flex-Basis für responsives Layout */
  border-radius: 5px;
  text-align: center;
  transition: transform 0.3s;
}

.game-item:hover {
  transform: scale(1.05);
}

.footer {
  background-color: #7d7c7c;
  text-align: center;
  padding: 10px;
}


title {
  font-size: 16px;
}

button {
  background: none;
  border: none;
  color: darkgray;
  font-size: 20px;
  cursor: pointer;
  /*margin-Left: 10px;*/
  -webkit-app-region: no-drag;
}

/*Dropdown lines*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
  padding: 2px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
