name: Frontend CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x, 22.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Change to frontend directory
      run: cd frontend

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
      working-directory: ./frontend

    - name: Install dependencies for frontend
      run: npm ci
      working-directory: ./frontend

    - name: Build frontend
      run: npm run build --if-present
      working-directory: ./frontend

    - name: Test frontend
      run: npm test
      working-directory: ./frontend
